{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change password Complete!!!{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>welcome sonam</h3>
   <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Complete!!</a></li>
        </ul>
   </div>
   <div class="col-sm-6 offset-sm-1">
    <h3>Password Reset Successfully !!</h3>
   </div>
   

  </div>
 </div>
</div>
{% endblock main-content %}